:root {
    /* Colors */
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --corn-flower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
    /* Others */
    --indent: 24px;
    --items: 4;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}

/**
  |============================
  | BASE STYLES
  |============================
*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white);
}
/* Reset start */

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Гумова картинка */
img {
display: block;
max-width: 100%;
height: auto;

/* Alternative */
/* display: block;
max-width: 100%;
height: 100%;
object-fit: cover; */
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* Reset end */
.section {
    padding-bottom: 120px;
}

.container {
width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;

/* Рамки, які підсвічують наш контерйнер */
/* outline: 2px solid red;
outline-offset: -2px; */
}

/* Приховані заголовки */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/**
  |============================
  | HEADER
  |============================
*/
    /* Navigation */
header {
    border-bottom: 1px solid var(--corn-flower);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

header>.container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
display: flex;
align-items: center;
}

    /* Logo */

.logo {
    display: flex;
    margin-right: 76px;
    color: var(--iris);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-dark {
    color: var(--navy-blue);
}

.logo-light {
    color: var(--cloud);
}

    /* Navigation list */
.nav-list {
    display: flex;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    font-weight: 500;
}
.nav-list-item {}

.nav-list-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    /* background-color: #8E8F99; */
    transition: color var(--transition);
}

.nav-list-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
}

.nav-list-link.current::after {
    background-color: var(--ocean);

}
.nav-list-link.current {
    color: var(--ocean);
}

.nav-list-link:hover, .nav-list-link:focus {
    color: var(--ocean);
}

    /* Contacts */

.header-address {
    font-size: 16px;
    color: var(--slate);
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
}

.address-list {
    display: flex;
    gap: 40px;
    /* align-items: center; */

}

.address-list-item {}

.address-item-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    /* background-color: #8E8F99; */
    transition: color var(--transition);

}
.address-item-link:hover, .address-item-link:focus {
    color: var(--ocean, #404BBF);
}

/**
  |============================
  | MAIN
  |============================
*/

    /* Hero section */

.hero-section {
    display: flex;
    margin: 0 auto;
    flex-shrink: 0;
    background-color: var(--navy-blue);
    flex-shrink: 0;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
}
   
.hero-title {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    color: var(--white);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-btn {
    display: block;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: var(--iris);
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white);
    font-weight: 500;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer; 
    transition: background-color var(--transition);
}

.hero-btn:hover, .hero-btn:focus {
    background-color: var(--ocean);
}

    /* Skills section */

.skills-section {
    padding-top: 120px;
}

.skills-list {}

.skills-list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--cloud);
    margin-bottom: 8px;
}

.skills-icons {}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
 }

 .card-set-item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
 }

.skills-list-item {}

.skills-list-subtitle {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey);
}

.skills-list-desc {
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

    /* Products section */

.products-section {}

.products-title, .team-title  {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--grey);
    margin: 0 auto;
    margin-bottom: 72px;
}

.products-list {}

.products-list-item {
    --items: 3;
}

.products-list-img {}

/* Team section */

.team-title {}

.team-section {

    background-color: var(--cloud);
    padding-top: 120px; 
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    text-align: center;

}

.team-list-wrapper {
    padding: 32px 0;
}

.team-list-item {
    border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
    background-color: var(--white);
    border: 0 solid transparent;
}

.team-list-img {}

.team-list-subtitle {
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey);
}

.team-list-desc {
    text-align: center;
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-social-item {}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    fill: var(--cloud);
    background-color: var(--iris);
    transition: background-color var(--transition);
}

.team-social-link:hover, .team-social-link:focus {
    background-color: var(--ocean);
}

.team-social-icons {}


/**
  |============================
 
.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    fill: var(--cloud);
    background-color: var(--iris);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green);
}

.footer-social-icons {}
  |============================
*/


/* Customers section */
.customers-section {
    padding: 120px 0;
}

.customers-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--navy-blue);
text-align: center;
margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-list-item {}

.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    color: var(--light-slate);
    transition: color var(--transition), border-color var(--transition);
}

.customers-list-link:hover, .customers-list-link:focus {
    color: var(--ocean);
    border-color: var(--ocean);
}
.customers-icons {
    fill: currentColor;
}

/**
  |============================
  | PORTFOLIO
  |============================
*/
.portfolio-section {
    padding-bottom: 120px;
    padding-top: 96px;

}

    /* Buttons */ 

.portfolio-btn-list {
    background-color: var(--white);
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;

}

.portfolio-btn {
    justify-content: center;
    background-color: var(--cloud);
    color: var(--iris); 
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--corn-flower);
    min-width: 69px;
    min-height: 48px;
}

.portfolio-btn-item {
    transition: background-color var(--transition), color var(--transition), border-color var(--transition), box-shadow var(--transition);
}

.portfolio-btn-item:hover, .portfolio-btn-item:focus {
    background-color: var(--ocean);
    color: var(--white);
    border-color: transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

    /* Portfolio photos */

.portfolio-list {
    --items: 3;
    row-gap: 48px;

}

.portfolio-list-wrapper {
    padding: 32px 16px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background-color: var(--white, #FFF);
    border-top: none;
}

.portfolio-list-item {
    background-color: var(--white);
}

.portfolio-list-link {
    display: block;
    transition: box-shadow var(--transition);
}

.portfolio-list-link:focus, .portfolio-list-link:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.portfolio-list-img {}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--transition);
    width: 100%;
    height: 100%;
    display: flex;
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    background-color: var(--iris);
    padding: 40px 32px;
} */

.portfolio-list-link:hover .overlay-text, .portfolio-list-link:focus .overlay-text {
    transform: translateY(0%);
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--transition);
    width: 100%;
    height: 100%;
    display: flex;
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    background-color: var(--iris);
    padding: 40px 32px;
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.portfolio-list-desc {
    font-size: 16px;
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**
  |============================
  | FOOTER
  |============================
*/
.footer-container {
    display: flex;
    /* gap: 120px; */
    align-items: baseline;
}

.footer-logo-container {
    display: block;
    margin-right: 120px;
  }

.footer-section {
    background-color: var(--navy-blue); 
    padding: 100px 0;
}

 .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-desc {
    width: 264px;
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.fotter-social-container {
    display: block;
}

.fotter-social-desc {
    color: var(--white);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    fill: var(--cloud);
    background-color: var(--iris);
    transition: background-color var(--transition);
}

.footer-social-link:hover, .footer-social-link:focus {
    background-color: var(--green);
}

.footer-social-icons {}

/**
  |============================
  | MODAL WINDOW
  |============================
*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.40);

    transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: transform var(--transition);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: var(--dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.backdrop.is-hidden .modal {
    transform: translateX(-50%) translateY(-70%);
    opacity: 0;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--navy-blue);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    background-color: var(--corn-flower);
    width: 24px;
    height: 24px;  
    padding: 0;  
    transition: background-color var(--transition), border var(--transition);
}

.modal-btn:hover, .modal-btn:focus {
    background-color: var(--ocean);
    border: none;
    fill: var(--white);
}

.modal-icon-btn {
    transition: fill var(--transition);
}